{% extends "base.html" %}

{% block content %}
<h2>All Applications</h2>

<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Student</th>
            <th>Job</th>
            <th>Company</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>
        {% for a in applications %}
        <tr>
            <td>{{ a.student.name }}</td>
            <td>{{ a.job.title }}</td>
            <td>{{ a.job.company.name }}</td>
            <td>
                {% if a.status == "Selected" %}
                    <span class="badge bg-success">Selected</span>
                {% elif a.status == "Shortlisted" %}
                    <span class="badge bg-primary">Shortlisted</span>
                {% elif a.status == "Rejected" %}
                    <span class="badge bg-danger">Rejected</span>
                {% else %}
                    <span class="badge bg-warning">Applied</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}