{% extends "base.html" %}

{% block content %}
<h2>Placement Drives</h2>

<table class="table table-striped table-bordered">
<thead class="table-dark"></thead>
<tr>
    <th>Title</th>
    <th>Company</th>
    <th>Status</th>
    <th>Action</th>
</tr>

<tbody>
{% for j in jobs %}
<tr>
    <td>{{ j.title }}</td>
    <td>{{ j.company.name }}</td>
    <td>
        {% if j.approved %}
            <span class="badge bg-success">Approved</span>
        {% else %}
            <span class="badge bg-warning">Pending</span>
        {% endif %}
    </td>
    <td>
        <a class="btn btn-sm btn-primary" href="/admin/job/{{ j.id }}/approve">
            Approve
        </a>
    </td>

</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
