{% extends "base.html" %}

{% block content %}
<h2>Applications</h2>

<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Student</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        {% for a in applications %}
        <tr>
            <td>{{ a.student.name }}</td>
            <td>
                <span class="badge bg-secondary">{{ a.status }}</span>
            </td>
            <td>
                <a class="btn btn-sm btn-primary"
                    href="/company/application/{{ a.id }}/shortlist">
                    Shortlist
                </a>

                <a class="btn btn-sm btn-success"
                    href="/company/application/{{ a.id }}/select">
                    Select
                </a>

                <a class="btn btn-sm btn-danger"
                    href="/company/application/{{ a.id }}/reject">
                    Reject
                </a>
                    
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>
{% endblock %}

