{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card p-4">
            <h3 class="text-center mb-3">{{ role }} Registration</h3>

            <form method="POST">
                <label>Name</label>
                <input class="form-control" name="name" required>

                <br>

                <label>Email</label>
                <input class="form-control" type="email" name="email" required>

                <br>

                <label>Password</label>
                <input class="form-control" type="password" name="password" required>

                <br>

                <button class="btn btn-success w-100" type="submit">
                    Register
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}